<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/adminHeader'); %>

    <body>

        <h2 class="pageTitle">Add a product</h2>
        <br>
        <a href="/admin/products" class="btn btn-primary">Back to all product </a>
        <br><br>

        <!-- enctype needed to be able to upload an image -->
        <form action="/admin/products/addProduct" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label>Title*</label>
                <input class="form-control" type="text" name="title" placeholder="Title" pattern="[a-zA-Z0-9_ ]*" required>
            </div>

            <div class="form-group">
                <label>Description*</label>
                <textarea class="form-control" name="description"
                    placeholder="Description" pattern="[a-zA-Z0-9_ ]*" required><%= description %> </textarea>
            </div>

            <div class="form-group">
                <label>Category*</label>
                <select name="category" class="form-control">
                    <% categories.forEach(function(cat) { %>
                        <option>
                            <%= cat.title %>
                        </option>
                        <% }); %>
                </select>
            </div>

            <div class="form-group">
                <label >Price*</label>
                <input class="form-control" type="number" name="price" placeholder="Price" min="0.01" max="9999" step="any" required>
            </div>

            <div class="form-group">
                <label>Image*</label>
                <input class="form-control" type="file" name="image" id="img" required
                    onchange="document.getElementById('imgPreview').src = window.URL.createObjectURL(this.files[0])">
                <br>

                <!-- code snippet from https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded start -->
                <img id="imgPreview" alt="Choose file to preview image" width="100" height="100" />
                <!-- code snippet from https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded end -->
                <br><br>
                <button type="submit" class="btn btn-dark">Submit</button>
                <button type="reset" class="btn btn-dark">Reset</button>

            </div>

        </form>


    </body>

</html>