<%- include('../layouts/adminHeader'); %>

    <h2 class="pageTitle">Pages</h2>
    <a href="/admin/pages/addPage" class="btn btn-primary">Add a new page </a>
    <br><br>

    <table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    </table>