<header class="header">

    <div class="flex">

        <a href="#home" class="logo"><img src="/css/img/logo.png" alt=""></a>

        <!-- Inspiration from Skaikh Anas start -->
        <nav class="navbar">
            <a href="/dash">HOME</a>
            <a href="/weather">WEATHER</a>
            <a href="/login/postings">BLOG</a>
            <a href="/admin/pages">PAGES</a>
            <a href="/admin/categories">CATEGORIES</a>
            <a href="/admin/products">PRODUCTS</a>
            <a href="/profile">PROFILE</a>
            <a href="/admin/pages" target="blank" class="navbar-brand">SHOPPING CART</a>
            <a id="logout" href="/logout">LOGOUT</a>
        </nav>
        <!-- Inspiration from Skaikh Anas end -->


        <div class="dropdown" style="float:right;">
            <button class="dropbtn">MENU</button>
            <div class="dropdown-content">
                <a href="/dash">HOME</a>
                <a href="weather/">WEATHER</a>
                <a href="/login/postings">BLOG</a>
                <a href="/admin/pages">PAGES</a>
                <a href="/admin/categories">CATEGORIES</a>
                <a href="/admin/products">PRODUCTS</a>
                <a href="profile/">PROFILE</a>
                <a href="/" target="blank" class="navbar-brand">Shopping Cart</a>
                <a id="logout" href="/logout">LOGOUT</a>
                <!--Bo -->
            </div>
        </div>
    </div>
</header>