<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <div id='banner'>
        <div id='header'>
        </div>
        <img src="./css/img/logo.png" alt="logo" id='logo'>
        <img src="./css/img/profile.png" alt="profile" id='profile'>
        <p id='bby24'><i>&nbspA project by BBY-24</i></p>

        <a id="logout" href="/logout">LOGOUT</a> <!--Bo --> 

        <p id='nav1'><b>HOME</b></p>
        <p id='nav2'><b>PROTOCOLS</b></p>
        <p id='nav3'><b>WEATHER</b></p>
        <p id='nav4'><a href="/login/postings"><B>BLOG</B></a></p>
    </div>

    <header>
        <br><br><br>
        <div id='heading'>
            <p id='firstP'>AtmosPal Dashboard!</p>
        </div>
        <P id='subheading'>Weather forecasts for locations across Canada.</P>
    </header>

    <div id='content'>
        <div class='box' id='firstBox'>
            <img src="./css/img/scienceWorld.jpg" alt="Vancouver">
            <div class='titleBox'>Vancouver</div>
        </div>
        <div class='box' id='secondBox'>
            <img src="./css/img/cityHall.jpg" alt="Calgary">
            <div class='titleBox'>Calgary</div>
        </div>
        <div class='box' id='thirdBox'>
            <img src="./css/img/toronto.jpg" alt="Toronto">
            <div class='titleBox'>Toronto</div>
        </div>
        <div class='box' id='fourthBox'>
            <img src="./css/img/newBrunswick.jpg" alt="New Brunswick">
            <div class='titleBox'>New Brunswick</div>
        </div>

        <p id='otherContent'>Other Content</p>
        <div id='stuff'>
            <img src="./css/img/dummy.png" alt="" id='firstImg'>
            <p>Some Content</p>
            <img src="./css/img/dummy.png" alt="" id='secondImg'>
            <p>Some Content</p>
            <img src="./css/img/dummy.png" alt="" id='thirdImg'>
            <p>Some Content</p>
            <img src="./css/img/dummy.png" alt="" id='birdImg'>
            <div class='twitter'>Some Content <b>#someHashTag</b></div>
            <div id='article'>Some Content <a href="#">http://google.ca</a></div>
        </div>

        <br><br><br>

        <footer>
            <div id='button'>            
                <!-- imgs from https://www.istockphoto.com/search/2/image?phrase=instagram+logo start-->
                <img src="./css/img/instagram.jpg" alt="" id='instagram'>
                <img src="./css/img/twitter.jpg" alt="" id='twitter'>
                <img src="./css/img/facebook.jpg" alt="" id='facebook'>
                <img src="./css/img/youtube.jpg" alt="" id='youtube'>
                <!-- imgs from https://www.istockphoto.com/search/2/image?phrase=instagram+logo end-->
            </div>
        </footer>

    </div>
</body>

</html>