<!DOCTYPE html>
<html lang="en">

<!-- Displays rain with lightning effects based on the work of Coding Tutorials - start
@author Coding Tutorials
@see https://youtu.be/tLCU2RupVo4 -->
<head>
    <meta charset="UTF-8">
    <title>BBY-24 Easter Egg</title>
    <link rel="stylesheet" href="/css/easterEgg.css">
</head>

<body>
    <div class="rain"></div>
    <div class="lightining"></div>
</body>
<!-- Displays rain with lightning effects based on the work of Coding Tutorials - end -->

</html>