<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <div id='banner'>
        <div id='header'>
        </div>

        <a class="tipImage" alt="logo" id='logo'>
            <img src="./css/img/logo.png" alt="logo" id='logo'>
            <iframe class="description" src="/easter_egg"></iframe>
        </a>

        <a href="/all_users" id='profile'>
            <img src="./css/img/profile.png" alt="profile" id='profile'>
        </a>
        <p id='bby24'><i>&nbspA project by BBY-24</i></p>

        <a id="logout" href="/logout">LOGOUT</a>
        <!--Bo -->

        <p id='nav1'><a href="/admin/pages"><b>STORE</b></a></p>
        <p id='nav2'><b><a href="/protocols">PROTOCOLS</b></a></p>
        <p id='nav3'><a href="/weather"><b>WEATHER</b></a></p>
        <p id='nav4'><a href="/login/postings"><B>BLOG</B></a></p>
    </div>

    <header>
        <br><br><br>
        <div id='heading'>
            <p id='firstP'>AtmosPal</p>
        </div>
        <P id='subheading'>Weather forecasts for locations across Canada.</P>
    </header>

    <div id='content'>
        <div class='box' id='firstBox'>
            <a class="van" id="van" alt="van">
                <img src="./css/img/scienceWorld.jpg" alt="Vancouver">
                <iframe class="detail" src="/van_weather"></iframe>
                <div class='titleBox'>Vancouver</div>
            </a>
        </div>
        <div class='box' id='secondBox'>
            <a class="cal" id="cal" alt="cal">
                <img src="./css/img/cityHall.jpg" alt="Calgary">
                <iframe class="detail" src="/cal_weather"></iframe>
                <div class='titleBox'>Calgary</div>
            </a>
        </div>
        <div class='box' id='thirdBox'>
            <a class="tor" id="tor" alt="tor">
                <img src="./css/img/toronto.jpg" alt="Toronto">
                <iframe class="detail" src="/tor_weather"></iframe>
                <div class='titleBox'>Toronto</div>
            </a>
        </div>
        <div class='box' id='fourthBox'>
            <a class="nb" id="nb" alt="nb">
                <img src="./css/img/newBrunswick.jpg" alt="New Brunswick">
                <iframe class="detail" src="/nb_weather"></iframe>
                <div class='titleBox'>Shediac</div>
            </a>
        </div>

        <p id='otherContent'>Other Content</p>
        <div id='stuff'>
            <img src="./css/img/dummy.png" alt="" id='firstImg'>
            <p>Some Content</p>
            <img src="./css/img/dummy.png" alt="" id='secondImg'>
            <p>Some Content</p>
            <img src="./css/img/dummy.png" alt="" id='thirdImg'>
            <p>Some Content</p>
            <img src="./css/img/dummy.png" alt="" id='birdImg'>
            <div class='twitter'>Some Content <b>#someHashTag</b></div>
            <div id='article'>Some Content <a href="#">http://google.ca</a></div>
        </div>

        <br><br><br>

        <footer>
            <div id='button'>
                <!-- imgs from https://www.istockphoto.com/search/2/image?phrase=instagram+logo start-->
                <img src="./css/img/instagram.jpg" alt="" id='instagram'>
                <img src="./css/img/twitter.jpg" alt="" id='twitter'>
                <img src="./css/img/facebook.jpg" alt="" id='facebook'>
                <img src="./css/img/youtube.jpg" alt="" id='youtube'>
                <!-- imgs from https://www.istockphoto.com/search/2/image?phrase=instagram+logo end-->
            </div>
        </footer>

    </div>
</body>

<script src="/js/easterEgg.js"></script>
<script src="/js/admin_weather.js"></script>

</html>